In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
iris = load_iris()

x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3, random_state=30)
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

print(clf.score(x_test,y_test ))
print(clf.predict(x_test))
print(y_test)

0.9333333333333333
[0 0 0 2 1 1 2 2 1 2 0 2 1 1 0 1 0 0 0 1 1 0 0 0 2 2 2 2 0 1 2 1 2 2 2 2 1
 2 1 1 2 2 0 1 2]
[0 0 0 2 1 1 2 2 1 2 0 2 1 1 0 1 0 0 0 1 2 0 0 0 2 2 1 2 0 1 2 1 2 2 2 2 1
 2 1 2 2 2 0 1 2]

In [ ]:
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_,index=iris.feature_names).sort_values(ascending=False)
feature_imp

petal width (cm)     0.480402
petal length (cm)    0.379197
sepal length (cm)    0.108199
sepal width (cm)     0.032201
dtype: float64

In [ ]:
data=pd.DataFrame({
    'sepal length':iris.data[:,0],
    'petal length':iris.data[:,2],
    'petal width':iris.data[:,3],
    'species':iris.target
})

x=data[['petal length', 'petal width','sepal length']]
y=data['species']                                       
# Split dataset into training set and test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.70, random_state=5)
data

     sepal length  petal length  petal width  species
0             5.1           1.4          0.2        0
1             4.9           1.4          0.2        0
2             4.7           1.3          0.2        0
3             4.6           1.5          0.2        0
4             5.0           1.4          0.2        0
..            ...           ...          ...      ...
145           6.7           5.2          2.3        2
146           6.3           5.0          1.9        2
147           6.5           5.2          2.0        2
148           6.2           5.4          2.3        2
149           5.9           5.1          1.8        2

[150 rows x 4 columns]

In [ ]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

print(clf.score(x_test,y_test ))
print(clf.predict(x_test))
print(y_test)

0.9523809523809523
[1 1 2 0 2 1 0 2 0 1 1 1 2 2 0 0 2 2 0 0 1 2 0 1 1 2 1 1 1 2 0 1 1 0 1 0 0
 2 0 2 2 1 0 0 1 2 1 2 2 0 2 0 0 0 0 1 1 1 1 2 1 2 2 1 0 1 0 2 2 1 2 1 2 1
 1 1 2 1 0 2 0 0 1 0 0 2 1 0 2 0 1 1 0 0 2 1 1 0 0 2 1 1 0 1 2]
82     1
134    2
114    2
42     0
109    2
      ..
78     1
91     1
3      0
55     1
138    2
Name: species, Length: 105, dtype: int64